<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>
</head>
<body>
    <h1>Upload Image</h1>

    <!-- Form to upload the file -->
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    {% if filename %}
    <h2>Uploaded Image:</h2>
    <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Uploaded Image" width="640">
    {% endif %}

    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
